/* RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #2F2F2F;
  font-family: Arial, Helvetica, sans-serif;
}

/* main container styles */
.main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 20px;
}

/* .content-part,
.images-part {
  flex: 1;
} */

/* content part styles */
.content-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 600px;
  /* margin: 0 auto; */
  min-height: fit-content;
  max-width: 100%;
  /* width: 1000px; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 8rem;
  padding-left: 4rem;
  line-height: 1.6;
  /* text-align: center; */
  /* border: 5px solid green; */
}

.heading {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  .design {
    color: rgb(255, 192, 203);
  }
  .create {
    color: rgb(137, 203, 254);
  }
  .inspire {
    color: rgb(0, 238, 255);
  }
}

.description {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
}

button {
  align-self: baseline;
  padding: 10px 26px;
  border-radius: 18px;
}


/* images styles */
.images-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* border: 5px solid red; */
  /* column-gap: 5px; */
  img {
    max-width: 100%;
    object-fit: cover;
  }
}


/* Responsiveness */
/* small phones */
@media (min-width: 320px) {
  .main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    padding: 1rem;
  }

  .content-part {
    max-width: 100%;
    width: 300px;
    display: flex;
    /* justify-content: flex-start; */
    padding: 0;
  }

  .heading {
    font-size: 4rem;
    margin-bottom: 0.8rem;
  }

  .description {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  button {
    padding: 16px 32px;
    font-size: 1.5rem;
  }
}

/* small tablets and laptops */
@media (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 2rem;
  }

  .content-part {
    max-width: 100%;
    width: 500px;
    display: flex;
    /* justify-content: flex-start; */
    padding-bottom: 5rem;
    padding-left: 5rem;
  }

  .heading {
    font-size: 4rem;
    margin-bottom: 0.8rem;
  }

  .description {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  button {
    padding: 16px 32px;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}